$bg-light: #c4b098;
$bg-dark: #131b1f;

$text-light: #ececec;
$text-mid: #9d7a61;
$text-dark: #0a1215;

$hl-red-1: #660101;
$hl-red-2: #3a0000;

$paragraph-font: 'Merriweather';
$paragraph-font-light: 'Merriweather-light';
$heading-font: 'Motextura';

$heading-size-1: 80px;
$heading-size-2: 40px;
$heading-size-3: 30px;
$heading-size-4: 25px;
$heading-size-5: 20px;

$heading-size-1-mobile: 60px;
$heading-size-2-mobile: 25px;
$heading-size-3-mobile: 20px;
$heading-size-4-mobile: 16px;

$paragraph-size-1: 24px;
$paragraph-size-2: 20px;
$paragraph-size-3: 18px;
$paragraph-size-4: 16px;
$paragraph-size-4-mobile: 14px;

$menu-color: #ffffff;
$menu-font-size: 2.5rem;
$menu-zindex: 1100;
$hamburger-zindex: $menu-zindex + 10;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1::first-letter {
  font-family: $heading-font;
  font-size: $heading-size-1-mobile;
  color: $hl-red-1;
  font-weight: 500;
}
h1 {
  font-family: $paragraph-font;
  font-size: $heading-size-2-mobile;
  text-transform: uppercase;
  color: $text-dark;
  letter-spacing: 2px;
  text-align: center;
}
h2::first-letter {
  font-family: $heading-font;
  font-size: $heading-size-1;
  color: $hl-red-1;
  font-weight: 500;
}
h2 {
  font-family: $paragraph-font;
  font-size: $heading-size-2;
  color: $text-mid;
}
h3 {
  font-family: $paragraph-font;
  font-size: $heading-size-3;
  color: $text-mid;
  font-weight: 400;
}
h4 {
  font-family: $paragraph-font;
  font-size: $heading-size-4-mobile;
  text-transform: uppercase;
  color: $text-dark;
}
h5 {
  font-family: $paragraph-font;
  font-size: $heading-size-3-mobile;
  color: $text-mid;
  font-weight: 300;
}
.white {
  color: $text-light !important;
  font-weight: 400;
}

.light {
  color: $text-mid !important;
  font-weight: 400;
}
.dark {
  color: $text-dark !important;
  font-weight: 600;
}
p {
  font-family: $paragraph-font-light;
  font-size: $paragraph-size-4;
  color: $text-light;
}

@font-face {
  font-family: 'Merriweather';
  src: url(~@/assets/fonts/Merriweather-Regular.ttf);
}
@font-face {
  font-family: 'Merriweather-light';
  src: url(~@/assets/fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: 'Motextura';
  src: url(~@/assets/fonts/mo_textura-regular-webfont.ttf);
}

.markdown-container {
  margin: auto;
  max-width: 700px;
  margin-top: 10vh;
  padding: 5vw;
  font-family: $paragraph-font-light;
  font-size: $paragraph-size-4-mobile;
  color: $text-light;
  line-height: 25px;
  padding-bottom: 20vh;
}

@media (min-width: 425px) {
  h1::first-letter {
    font-family: $heading-font;
    font-size: $heading-size-1;
    color: $hl-red-1;
    font-weight: 500;
  }
  h1 {
    font-family: $paragraph-font;
    font-size: $heading-size-2;
    text-transform: uppercase;
    color: $text-dark;
    letter-spacing: 2px;
  }
  h2::first-letter {
    font-family: $heading-font;
    font-size: $heading-size-1;
    color: $hl-red-1;
    font-weight: 500;
  }
  h2 {
    font-family: $paragraph-font;
    font-size: $heading-size-2;
    color: $text-mid;
  }
  h3 {
    font-family: $paragraph-font;
    font-size: $heading-size-3;
    color: $text-mid;
  }
  h4 {
    font-family: $paragraph-font;
    font-size: $heading-size-4;
    text-transform: uppercase;
    color: $text-dark;
  }
  h5 {
    font-family: $paragraph-font;
    font-size: $heading-size-3-mobile;
    color: $text-mid;
    font-weight: 300;
  }
  p {
    font-family: $paragraph-font-light;
    font-size: $paragraph-size-3;
    color: $text-light;
  }
  .markdown-container {
    margin: auto;
    max-width: 700px;
    margin-top: 10vh;
    padding: 5vw;
    font-family: $paragraph-font-light;
    font-size: $paragraph-size-4;
    color: $text-light;
    line-height: 25px;
    
  }
}
